.team-board {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 20px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.team-photo {
    position: relative;
    flex-basis: 25%;
    max-width: 25%;
}

.team-photo img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all 0.5s ease;
}

.team-photo img:hover {
    transform: rotate(3deg);
    border-radius: 60px;
    filter: opacity(0.9);
}

.team-name {
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--whiteColor);
    width: 100%;
    max-width: 100%;
}

.team-name h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.team-name p {
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .team-board {
        gap: 16px;
    }

    .team-photo {
        flex-basis: 33%;
        max-width: 33%;
    }

    .team-name {
       display: none;
    }

    .team-name h3 {
        font-size: 1.25rem;
    }

    .team-name p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .team-board {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .team-photo {
        flex-basis: 40%;
        max-width: 100%;
    }

    .team-name {
       display: none;
    }

    .team-name h3 {
        font-size: 1.1rem;
    }

    .team-name p {
        font-size: 0.85rem;
    }
}

@media (max-width: 600px) {
    .team-photo {
        flex-basis: 100%;
        max-width: 100%;
    }

    .team-name {
        display: none;
    }

    .team-name h3 {
        font-size: 1rem;
    }

    .team-name p {
        font-size: 0.8rem;
    }
}